*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: auto;
    overflow-y: hidden;
    overflow-x: hidden;
}

main{
    width: 100%;
}

header{
    width: 100%;
    height: 60px;
    background-color: black;
    display: flex;
    align-items: center; /* Alinha o conteudo ao centro vertical do container*/
}

#netflix{
    width: 7%;
    margin-left: 25px;
}

.icones{
    width: 10%;
    height: 23px;
}

#perfil{
    width: 18%;
    height: 18%;
    border-radius: 5px;
}

#section_header{
    display: flex;
    align-items: center;
    width: 86%;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
}

.section_esquerda{
    display: flex;
    align-items: center;
    width: 40%;
    justify-content: space-around;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: #ff0000;
}

#section_direita{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 15%;
}

#fundo{
    position: absolute;
    top: 0%;
    width: 100%;
    height:945px;
    z-index: -1;
}

#section_corpo{
    display: flex;
    height: 93vh;
    align-items: center;
    margin-left: 2%;
}

#yaiba{
    z-index: 2;
    position: absolute;
    top: 15%;
    width: 22%;
}

#container_botao{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    padding-top: 80%;
    margin-left: 10%;
    width: 160%;
}

#botao1{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    width: 35%;
    background-color: white;
    border: 2px solid;
    border-radius: 10px;
    margin-right: 10%;
}

#play, #info{
    height: 20px;
}

#botao2{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    width: 50%;
    background-color: transparent;
    backdrop-filter: blur(5px);
    border-radius: 10px;
    color: black
}

#imagens{
    display: flex;
    flex-direction: row;
    width: 100%;
    position: absolute;
    top: 72%;
}

#imagens img{
    width: 340px;
    height: 230px;
    margin-left: 5px;
    border: 1px solid;
    border-radius: 3px;
}



#div1:hover{
    cursor: pointer;
    transform: translate(0, -12px);
    transition: all 0,5s;
}

#div2:hover{
    cursor: pointer;
    transform: translate(0, -12px);
    transition: all 0,5s;
}

#div3:hover{
    cursor: pointer;
    transform: translate(0, -12px);
    transition: all 0,5s;
}

#div4:hover{
    cursor: pointer;
    transform: translate(0, -12px);
    transition: all 0,5s;
}

#div5:hover{
    cursor: pointer;
    transform: translate(0, -12px);
    transition: all 0,5s;
}

#div6:hover{
    cursor: pointer;
    transform: translate(0, -12px);
    transition: all 0,5s;
}

