/* CSS Resets*/
*{
    padding: 0%;
    border: 0%;
    margin: 0%;
    position: relative;
    text-decoration: none;
    color: black;
    font-family: Arial;
}

body{
    background-color: #c5dbf2;
    padding: 15px;
}

main{
    margin: auto;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    width: 30%;
}

ul li{
    color: #2d2c2f;
}

#conectar-cadastrar{
    display: flex;
    width: 30%;
    flex-direction: row;
    justify-content: space-between;
}

#conectar{
    background: none;
    padding: 0px 20px 0px 20px;
    border: 1px solid;
}

#cadastrar{
    background-color: #007c89;
    padding: 5px 20px 5px 20px;
}

#cadastrar a{
    color: #fff;
    font-weight: bold;
}

#container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
    margin: auto;
    height: auto;
}

#container #descricao{
    width: 50%;
    margin-top: 15%;
}

#container #descricao h1{
    font-family: georgia;
    font-size: 50px;
    font-weight: 500;
    width: 80%;
    color: #1c1c1c;
}

#container #descricao p{
    font-family: Helvetica;
    font-weight: normal;
    font-size: 24px;
    width: 80%;
    color: #2d2c2f;
}

#saiba-mais{
    background-color: #007c89;
    padding: 20px 40px 20px 40px;
    margin-bottom: 2%;
}

#saiba-mais a{
    color: #fff;
    font-weight: bold;
}

#container #imgs  {
    margin-top: 15%;
    width: 50%;

}


aside{
    background-color: #f6d5c4;
    width: 80%;
    position: relative;
    border: 2px solid;
    border-radius: 2%;
    padding: 1%;
   

}
aside h1{
    color: #f87d5f;
    text-align: center;
    margin-bottom: 5%;
}

aside #imgsBotoesBigMoodSpa {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

aside #creme {
    padding-bottom: 5%;
    padding-left: 5%;
}

aside #cardCompra {
    position: absolute;
    margin-left: 65%;
    margin-top: 10%;
    border: 2px solid;
    border-right: 7px solid;
    border-bottom: 7px solid;
    width: 60%;
    background-color: #ffffff;
    height: 100%;
    z-index: 1;
    border-radius: 10px;

}

#cardCompra h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 4%;
    background-color: #eeeeec;
    color: #1c1c1c;
    border-bottom: 2px solid;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}
#cardCompra #produtos {
    width: 80%;
    height: 50%;
    margin-left: 5%;
    margin-bottom: 5%;
}

#botaoCheckoutArea {
    width: 100%;
    height: auto;

    margin-top: 2%;
    display: flex;
    justify-content: center;
}


#checkout {
    background-color: #007c89;
    padding: 10px 20px 10px 20px;
    

    border-radius: 8px ;


}

#checkout a {
    color: #fff;
    font-weight: bold;

}

