/*CSS RESET*/
*{
    padding: 0px;
    margin: 0px;
    border: 0px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

main{
    background-color: brown;
    width: 90%;
    margin: auto;
    margin-top: 0;
    height: 100%;
}

#preto{
    background-color: black;
    width: 100%;
    padding-top: 30px;
    text-align: center;
    padding-bottom: 30px;
}


#navazul{
    background-color: blue;
    font-size: 30px;
}


#navbege{
    background-color: burlywood;
    font-size: 30px;
    text-align: center;
    float: left;
    width: 25%;
    height: 525px;
}


section{
    background-color: pink;
    text-align: center;
    font-size: 30px;
    height: 525px;
    width: 50%;
    float: left;
}

aside{
    background-color: blueviolet;
    font-size: 30px;
    text-align: center;
    width: 25%;
    height: 525px;
    float: left;
}


#branco h5{
    background-color: white;
    color: black;
    width: 95%;
    padding-top: 5px; /*espaçamento interno de cima para baixo */
    padding-bottom: 5px; /*espaçamento interno de baixo para cima*/
    margin: auto; /*centralizar horizontalmente*/
    margin-bottom: 10px; /* margem externa entre o item e o outro componente*/
}


#marrom{
    background-color: brown;
    width: 95%;
    height: 200px;
    margin: auto;
    margin-bottom: 10px;
}

p{
    background-color: rgb(156, 235, 235);
    color: black;
    width: 95%;
    height: 100px;
    margin: auto;
    margin-bottom: 10px;
    text-align: left;
    font-size: 15px;
}

#caixa{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
    margin: auto;
}


.cinza{
    background-color: silver;
    width: 30%;
    height: 100px;
}


footer{
    background-color: black;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    clear: left;
}