*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}



main{
    background-color: rgb(206, 109, 157);
    position: relative;
    width: 100%;
    height: 700px;
    margin: auto;
}

.limao{
    position: relative;
    width: 100%;
    height: 200px;
    padding: 2px;
    background-repeat: no-repeat;
}

#header{
    width: 100%;
}

.vermelho{
    background-color: red;
    position: relative;
    width: 100%;
    height: 700px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.rosa{
    background-color: silver;
    position: relative;
    width: 45%;
    height: 600px;
    margin-top: 20px;
    padding: 2px;
    margin-left: 3%;
}

#img_2{
    height: 100%;
    display: flex;
    position: relative;
    width: 100%;
}

#sobre_violao{
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin-top: 8%;
    color: white;
}

.azulclaro{
    background-color: white;
    position: relative;
    height: 300px;
    display: flex;
    justify-content: space-around;
}

.anuncioviolao{
    position: relative;
    margin-top: 22px;
    width: 20%;
    height: 100px;
    background-color: white;
    text-align: center;
    height: 150%;
}

.anuncioviolao>p {
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.anuncioviolao>img {
    width: 80%;
}

.preco {
    font-weight: bold;
    color: red;
}


.branco{
    background-color: white;
    position: relative;
    height: 700px;
    margin-bottom: 10px;
    padding: 2px;
    display: flex;
}

.amarelo{
    background-color: rosybrown;
    position: relative;
    height: 700px;
    margin-bottom: 10px;
    margin-top: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-left: 4%;
    padding-right: 4%;
}

.azul_escuro_caixa{
    background-color: navy;
    height: 550px;
    width: 45%;
}

.verde_caixa{
    background-color: silver;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    align-items: center;
    text-align: center;
    color: white;
    width: 45%;
    height: 550px;
}

.caixa{
    position: relative;
    float: left;
    width: 45%;
    height: 350px;
    margin-left: 3%;
    margin-top: 20px;
    padding: 2px;
}

.preto{
    background-color: black;
    height: 150px;
    color: white;
    padding: 2px;
}

#caixa_icone{
    display: flex;
    height: 20%;
    margin-left: 66%;
    margin-top: 9%;
    border: solid red;
}

#caixa_icone img{
    margin-left: 30px;
}

h3{
    position: absolute;
    margin-left: 65%;
    margin-top: 5%;
    font-size: 30px;
    font-family: Tahoma;
    color: darkblue;
}

.form{
    border: solid red;
    margin-left: 1%;
    margin-top: 2%;
    width: 50%;
    height: 100%;
}


/* visualização mobile*/

@media only screen and (max-width:480px){
    
    .rosa{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 300px;
    }
}