#topo{
    position: relative;
    background-color: rgb(76, 170, 173);
    width: 800px;
    height:100px;
    text-align: center;
}

#le{
    position: absolute;
    background-color: rgb(155, 175, 214);
    width: 800px;
    height: 360px;
}

#conteudo{
    position: absolute;
    background-color: grey;
    top: 108px;
    left: 90px;
    width: 580px;
    height:360px;
}

#quadrado1{
    position: absolute;
    background-color: white;
    top: 108px;
    left: 680px;
    width: 120px;
    height: 100px;
    color: white;
}

#quadrado2{
    position: absolute;
    background-color: white;
    top: 210px;
    left: 680px;
    width: 120px;
    height: 100px;
    color: white;
}

#rodape{
    position: absolute;
    background-color: dodgerblue;
    top: 468px;
    width: 800px;
    height: 30px;
}

#camera{
    position: absolute;
    width: 150px;
    top: 300px;
    left: 575px;
}