body{
    
    #camada1{
        position: absolute;
        width: 165px;
        height: 100px;
        text-align: center;
        font-size: 20px;
        padding: 10px;
        background-color:blue;
        z-index: 1;
    }

    #camada2{
        position: relative;
        left:180px;
        width:1075px;
        height:100px;
        text-align:center;
        font-size:20px;
        padding:10px;
        background-color:red;
        z-index: 1;
    }

    #camada3{
        position: relative;
        background-color: forestgreen;
        text-align: center;
        font-size: 20px;
        width: 1275px;
        height: 40px;
    }

    #camada4{
        position: absolute;
        background-color: gold;
        text-align: center;
        width: 1260px;
        height: 420px;
        font-size: 20px;
        border: 8px solid red;
    }

    #camada5{
        position: relative;
        background-color: darkgray;
        text-align: center;
        font-size: 20px;
        top: 435px;
        width: 1275px;
        height:25px;
    }
}